# Arquivos de Ambiente Virtual
# Impede que a pasta do ambiente virtual seja enviada para o repositório.
.venv/
venv/
ENV/
env/

# Arquivos de cache e compilados do Python
# São gerados automaticamente e não precisam ser versionados.
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de configuração de IDEs
.vscode/
.idea/

# Pastas de configuração e dados sensíveis do sistema
inputs/
output/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db